<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cari Obat Expired</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container" align="center">
        <h2>Lihat Daftar Obat yang Sudah Expired di Suatu Gudang</h2>
        <div class="card w-25 mt-2">
            <div class="card-header">
                <h5>Pilih Gudang</h5>
            </div>
            <div class="card-body" align="center">
                <form th:action="@{/gudang/expired-obat}" method="GET">
                    <div class="row d-flex justify-content-center" >
                        <select class="form-control" name="idGudang" style="width: 200px; margin-right: 20px;">
                            <div th:each="gudang: ${listGudangModel}" >
                                <option th:value="${gudang.id}" th:text="${gudang.nama}"></option>
                            </div>
                        </select>
                        <div style="margin-top: 10px;">
                            <button type="submit" class="btn btn-primary"> Submit </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>