<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title> Add Gudang </title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container" style="width: 30%; text-align: center; margin-top:20px;">
    <h3> Tambah Gudang </h3>
    <form th:action="@{/gudang/tambah}" th:object="${gudang}" method="POST">
        Nama: <br>
        <input type="text" name="nama"/>
        <br>
        Alamat: <br>
        <input type="text" name="alamat"/>
        <br><br>
        <button type="submit" class="btn btn-dark" > Submit </button>
    </form>
</div>
</body>
</html>